<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :spent_hours %>
  <%= number_input f, :spent_hours %>
  <%= error_tag f, :spent_hours %>

  <%= label f, :desc %>
  <%= textarea f, :desc %>
  <%= error_tag f, :desc %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
